.forbidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

h1 {
    font-size: 12em;
    margin-bottom: 1em;
    font-weight: bold;
    color: #2446f1;
}
h2{
    font-weight: bolder;
}
p {
    font-size: 2em;
    margin-bottom: 1em;
    color: rgb(28, 52, 234);
}

.home-button{
    color:whitesmoke;
    padding:10px 12px;
    background-color:#3f90f3;
    border-radius: 10px;
    font-size: 1.5em;
}
a{
    text-decoration: none;
}