<div id="body">

    <!----------------------- Main Container -------------------------->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!----------------------- Login Container -------------------------->

        <div class="row border rounded-5 p-3 bg-white shadow box-area">

            <!--------------------------- Left Box ----------------------------->

            <div class="col-md-6 right-box">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form" class="row align-items-center">
                    <div class="header-text mb-2">
                        <h2>Welcome To Allo Service</h2>
                    </div>
                    <div class="row p-0 inputs">
                        <div class="col-md-6">
                            <input formControlName="firstName" type="text" class="form-control  bg-light fs-6 "
                                placeholder="First name">
                                <strong class="text-danger" *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">
                                    invalid first name
                                </strong>
                        </div>
                        <div class="col-md-6">
                            <input formControlName="lastName" type="text" class="form-control  bg-light fs-6"
                                placeholder="Last Name">
                                <strong class="text-danger" *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
                                    invalid last name
                                </strong>
                        </div>
                    </div>
                    
                    <div class="row p-0 inputs">
                        <div class="col-md-6 mt-3">
                            <input formControlName="phone" type="text" class="form-control  bg-light fs-6 "
                                placeholder="Phone">
                                <strong class="text-danger" *ngIf="form.get('phone')?.invalid  && form.get('phone')?.touched">
                                    invalid phone number
                                </strong>
                        </div>
                        <div class="col-md-6 mt-3">
                            <select  formControlName="gender" class="form-select " aria-label="Default select example">
                                <option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mt-3">
                        <input  formControlName="email" type="email" class="form-control  bg-light fs-6"
                            placeholder="Email address">
                    </div>
                    <strong class="text-danger" *ngIf="form.get('email')?.invalid  && form.get('email')?.touched">
                        invalid email 
                    </strong>
                    <div class="row p-0 inputs">
                        <div class="col-md-6 mt-3">
                            <select  formControlName="cardType" class="form-select " aria-label="Default select example">
                                <option *ngFor="let cardtype of cardtypes" [value]="cardtype.value">{{cardtype.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 mt-3">
                            <input  formControlName="cardNumber" type="text" class="form-control  bg-light fs-6"
                                placeholder="card number">
                                <strong class="text-danger" *ngIf="form.get('cardNumber')?.invalid && form.get('cardNumber')?.touched">
                                inalid card number 
                                </strong>
                        </div>
                    </div>
                    <div class="input-group mt-3">
                        <input formControlName="cardDocument" type="file"  class="form-control  bg-light fs-6"
                            placeholder="identity document">
                    </div>

                    <div class="row inputs p-0">
                        <div class="col-md-6 mt-3">
                            <input  formControlName="password" type="password" class="form-control  bg-light fs-6"
                                placeholder="Password">
                                <strong class="text-danger" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                                    invalid password
                                </strong>
                        </div>
                        <div class="col-md-6 mt-3">
                            <select formControlName="location" class="form-select  "
                                aria-label="Default select example">
                                <option *ngFor="let city of cities" [value]="city.value">{{city.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mt-3 mb-2">
                        <button type="submit" class="btn btn-lg w-100 fs-6 signup">Sign up</button>
                    </div>
                    <div class="row">
                        <small>Already have an account? <a routerLink="/login" class="fs-6">Sign In</a></small>
                    </div>
                </form>
            </div>

            <!-------------------- ------ Right Box ---------------------------->

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #f33f3f;">
                <p class="home_return fs-4">
                    <i routerLink="/home" title="go home" class="fa-solid fa-right-long"></i>
                </p>
                <div class="featured-image mb-3">
                    <img src="assets/images/1.png" class="img-fluid" style="width: 250px;">
                </div>
                <p class="text-white fs-4" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                    Create account as a client
                </p>
                <small class="text-white text-wrap text-center"
                    style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Client on
                    this platform.</small>
                <a routerLink="/signup-user" class="btn btn-lg fs-6 signup-user">signup as user</a>
            </div>

        </div>
    </div>

</div>