<div id="body">

    <!----------------------- Main Container -------------------------->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!----------------------- Login Container -------------------------->

        <div class="row border rounded-5 p-3 bg-white shadow box-area">

            <!--------------------------- Left Box ----------------------------->

            <div class="col-md-6 right-box">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form" class="row align-items-center">
                    <div class="header-text mb-2">
                        <h2>Welcome To Allo Service</h2>
                    </div>
                    <div class="row p-0 inputs">
                        <div class="col-md-6 mb-3">
                            <input formControlName="firstName" type="text" class="form-control  bg-light fs-6 "
                                placeholder="First name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input formControlName="lastName" type="text" class="form-control  bg-light fs-6"
                                placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row p-0 inputs">
                        <div class="col-md-6 mb-3">
                            <input formControlName="phone" type="text" class="form-control  bg-light fs-6 "
                                placeholder="Phone">
                        </div>
                        <div class="col-md-6 mb-3">
                            <select class="form-select " formControlName="gender" aria-label="Default select example">
                                <option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" formControlName="email" class="form-control  bg-light fs-6"
                            placeholder="Email address">
                    </div>
                    <div class="row p-0 inputs">
                        <div class="col-md-6 mb-3">
                            <select class="form-select " formControlName="cardType" aria-label="Default select example">
                                <option *ngFor="let cardtype of cardtypes" [value]="cardtype.value">{{cardtype.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" formControlName="cardNumber" class="form-control  bg-light fs-6"
                                placeholder="card number">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" formControlName="cardDocument" class="form-control  bg-light fs-6"
                            placeholder="identity document">
                    </div>

                    <div class="row inputs p-0">
                        <div class="col-md-6 mb-3">
                            <input type="password" formControlName="password" class="form-control  bg-light fs-6"
                                placeholder="Password">
                        </div>
                        <div class="col-md-6 mb-3">
                            <select formControlName="location" class="form-select  "
                                aria-label="Default select example">
                                <option *ngFor="let city of cities" [value]="city.value">{{city.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="input-group mb-5 d-flex justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="formCheck">
                        <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
                    </div>
                    <div class="forgot">
                        <small><a href="#">Forgot Password?</a></small>
                    </div>
                </div> -->
                    <div class="input-group mb-3">
                        <button class="btn btn-lg w-100 fs-6 signup">Sign up</button>
                    </div>
                    <div class="row">
                        <small>Already have an account? <a routerLink="/login" class="fs-6">Sign In</a></small>
                    </div>
                </form>
            </div>

            <!-------------------- ------ Right Box ---------------------------->

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #f33f3f;">
                <p class="home_return fs-4">
                    <i routerLink="/home" title="go home" class="fa-solid fa-right-long"></i>
                </p>
                <div class="featured-image mb-3">
                    <img src="assets/images/1.png" class="img-fluid" style="width: 250px;">
                </div>
                <p class="text-white fs-4" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                    Create account as a client
                </p>
                <small class="text-white text-wrap text-center"
                    style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Client on
                    this platform.</small>
                <a routerLink="/signup-user" class="btn btn-lg fs-6 signup-user">signup as user</a>
            </div>

        </div>
    </div>

</div>