#service-details-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#service-details{
    padding: 1em 1em;
    width: 70%;
    background-color: #ffffff;
    border-radius: 10px;
    max-height: 94vh;
    overflow-y: auto;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 12px;  
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.scrollable {
    overflow: auto;
    border-radius: 1rem;  
  }
  
.scrollable::-webkit-scrollbar {
border-radius: inherit;
}
.service-description{
  max-height: 34vh;
  overflow-y: auto;
}