@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

#body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1497366811353-6870744d04b2?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/*------------- buttons -----------------*/
.signup{
    background-color: #f33f3f;
    color:azure;
}
.signup:hover{
    background-color: #0b0b0b;
}
.inputs{
    margin-left: 1px;
}
.signup-user{
    background-color: azure;
    color: #f33f3f;
    font: bolder;
    margin-top: 0.5em;
}
.signup-user:hover{
    background-color: rgb(22, 23, 22);
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}